body{
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
}

header{    
    background-color: aquamarine;
    color: darkslategrey;
    padding: 18px;

}

nav {
    background-color: rgb(52, 53, 110);
    padding: 18px;
}
nav ul{
list-style-type: none;
margin: 0;
padding: 0;

}
 nav ul li {
  display: inline;
  margin-right: 18px;

 }
 nav ul li a {

    color: rgb(0, 255, 55);
    text-decoration: none;
    padding: 5px;

 }

 nav ul li a:hover {

background-color: rgb(63, 63, 63);
color: rgb(214, 214, 214);
border-radius: 10px;

 }

 main {
padding: 28px;

 }
.grupo
{
width: 200px;

}
.bateria
{
    width: 500px;
}
.circuito
{

    width: 200px;
}
.equacao1
{
    width: 300px;
}
.grupo
{
    width: 500px;
}
.conclusao
{
    width: 500px;
}
.conclusao2
{
width: 700px;
}